body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    font-size: 5.625rem;
    font-family: "Tangerine", cursive;
    margin-top: 50px;
    color:#66BFBF;
    line-height: 2;
};
h2{
    font-size: 2.5rem ;
    color:#66BFBF;
    font-weight: normal;
}

.top-container {
    background-color: lavenderblush;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    padding-top: 10px;
}

.bottom-container {
    padding-top: 10px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
